/** 以下限定宽度摘抄自bootstrap **/

/**
  Medium screen / desktop
**/
@media screen and (max-width: 992px) {
  .layui-layer-page {
    min-width: 600px!important;
  }
}


/**
  Small screen / tablet
**/
@media screen and (max-width: 768px) {
  .layui-layer-page {
    width: 90%!important;
    min-width: 90%!important;
    min-height: 420px;
  }
}

/**
  Extra small screen / phone
**/
@media screen and (max-width: 480px) {
  .layui-layer-page {
    width: 100%!important;
    min-width: 100%!important;
    min-height: 420px;
  }
}

html {
  background-image: none;
  background-attachment: inherit;
}

.mobile .modal-mobile {
  position: fixed;
  -webkit-overflow-scrolling: auto;
  overflow: hidden;
}
